/*Reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

/*Variables*/
:root {
  --primary-color: #0065fc;
  --secondary-color: #deebff;
  --fourth-color: #000000;
  --third-color: #f2f2f2;
  --fifth-color: #ffffff;
}

/*Code général*/

body {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  color: var(--fourth-color);
}

h1 {
  font-size: 1.5em;
  color: var(--fourth-color);
  font-weight: 700;
  padding-left: 50px;
  padding-bottom: 5px;
}

h3 {
  padding-left: 40px;
  font-size: 1.125em;
  font-weight: 600;
}

/*Header*/
header {
  width: 100%;
  height: auto;
  /* border: 2px solid red; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 155px;
  height: auto;
  padding-left: 50px;
}

/*Navigation "nav"*/
nav {
  display: flex;
  gap: 80px;
  padding-right: 50px;
}

nav a {
  font-size: 1em;
  font-weight: 500;
  cursor: pointer;
  text-decoration: none; /* supprime le soulignement par défaut */
  padding-top: 6px;
  border-top: 2px solid transparent; /* pour éviter le saut au hover */
  transition:
    color 0.3s,
    border-top-color 0.3s; /* animation douce */
}

nav a:not(.subscriber) {
  color: var(--fourth-color);
}

nav a:not(.subscriber):hover {
  color: var(--primary-color);
  border-top-color: var(--primary-color);
}
.subscriber {
  color: var(--primary-color);
  border: none; /* pas de bordure */
}

/*Section Hero*/

.hero {
  width: 100%;
  height: auto;
  /* border: 2px solid blue; */
  margin-top: 50px;
}

.hero span {
  color: var(--fourt-color);
  font-weight: 500;
  padding-left: 50px;
}

/*Formulaire de recherche*/

form {
  width: 100%;
  margin-top: 20px;
  padding-left: 50px;
  display: flex;
  align-items: center;
}

.location {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 56px;
  height: 56px;
  background-color: var(--third-color);
  font-size: 1em;
  border-radius: 15px 0 0 15px;
}

form input {
  width: 254px;
  height: 56px;
  border: none;
  outline: none;
  font-size: 1em;
  border: 2px solid var(--third-color);
  padding-left: 20px;
  position: relative;
}

::placeholder {
  font-size: 1.1em;
  font-weight: 550;
  color: var(--fourth-color);
}

.btn-search {
  width: 150px;
  height: 56px;
  border: none;
  background-color: var(--primary-color);
  border-radius: 0 15px 15px 0;
  font-size: 1.1em;
  font-weight: 600;
  color: var(--fifth-color);
}

.btn-search-icon {
  display: none;
  justify-content: center;
  align-items: center;
  width: 56px;
  height: 56px;
  border: none;
  border-radius: 20px;
  background-color: var(--primary-color);
  position: absolute;
  left: 350px;
}
.btn-search-icon i {
  font-size: 1.6em;
  font-weight: 600;
  color: var(--fifth-color);
}

/*les Filtres*/

.filters {
  width: auto;
  margin-top: 15px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.filters span {
  font-size: 1.25em;
  font-weight: 600;
  color: var(--fourth-color);
}

.filters-container {
  display: flex;
  gap: 30px;
  padding: 20px;
}

.filters-item {
  width: auto;
  height: 50px;
  display: flex;
  align-items: center;
  border: 3px solid var(--third-color);
  border-radius: 24px;
  padding: 24px;
  position: relative;
  cursor: pointer;
}

.filters-item:hover {
  background-color: var(--secondary-color);
}

.filters-icon {
  width: 54px;
  height: 54px;
  background-color: var(--secondary-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: -2px;
  font-size: 1.25em;
  color: var(--primary-color);
}
